* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Cormorant Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
header {
    background-color: orange;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
}

header span {
    display: block;
    font-weight: 700;
    font-size: 2rem;
    align-content: center;
    text-align: center;
    background-color: orange;
    color: white;
}