* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Cormorant Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
header {
    background-color: orange;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
}

header span {
    display: block;
    font-weight: 700;
    font-size: 2rem;
    align-content: center;
    text-align: center;
    background-color: orange;
    color: white;
}
nav {
    background-color: #36454f;
    margin: 0 auto;
    max-width: auto;
    color: white;
    height: 3rem;
}
nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    padding: 0;
    font-size: 1.2rem;
    height: 100%;
}
nav ul li {
    flex: 1;
    text-align: center;
}
nav ul li a {
    display: block;
    color: white;
    text-decoration: none;
}