@media (min-width: 601px) {
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 1.5rem;
        background-color: purple;
        max-width: 1264px;
        margin: 0 auto;
    }

    header h1,
    header nav {
        flex: 1 2;
    }

    #menuButton {
        display: none;
    }

    nav>ul.nav-list {
        display: flex;
        flex-direction: row;
        background-color: black;
    }

    #temple-gallery {
        display: grid;
        grid-template-columns: repeat(3, 400px);
        justify-content: center;
        gap: 1rem;
        padding: 0.5rem;
    }
    .temple-card {
        width: 400px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 10px;
        padding-bottom: 15px;

    }

    .temple-card img {
        box-shadow: 0 2px 8px rgba(57, 55, 55, 0.2);
    }
    .temple-card h2 {
        margin: 0.5rem 0;
    }
}


main {
    max-width: 1264px;
    margin: 0 auto;
    background-color: lightgray;
}